.card {
  --bs-card-height: 379px;
  cursor: pointer;
}

.cardBody {
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.251);
}

.font {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  line-height: 160%;
  letter-spacing: 0.15px;
  margin-top: 10%;
}
